* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: block;
    font-size: 14px;
    background: white;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1020;
}

.main-nav {
    position: relative;
    bottom: 54px;
    left: 40px;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.login {
    float: right;
    position: relative;
    bottom: 23px;
    right: 135px;
    color: #333333
}

.signup {
    float: right;
    position: relative;
    right: -28px;
    bottom: 33px;
}

.signup-btn {
    border: 1px solid #c72c41;
    background-color: white;
    color: #c72c41;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.signup-btn:hover {
    background-color: #c72c41;
    color: white;
}

.nav-links {
    position: relative;
    top: 0;
    text-decoration: none;
    float: left;
    color: #333333;
}

.logo {
    text-decoration: none;
    color: #c72c41;
    font-weight: bold;
}

.main-nav li {
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 65px;
    transform: rotate(45deg);
    margin-bottom: 5px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #f9f6f7;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 726px) {
    .navbar {
        display: block;
        margin: 0;
        padding: 0;
        padding-left: 3%;
        padding-right: 3%;
        height: 69px;
        width: 100%;
    }

    .main-nav {
        position: relative;
        bottom: 80px;
        margin-right: 30px;
        height: 100%;
    }

    .main-nav li {
        margin: 0;
        margin-top: 25px;
    }

    .nav-links {
        margin-left: 20px;
    }

    .logo {
        margin-top: 0;
        font-size: 20;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #d7d1c9;
    }
}

