.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: white;
     color: white;
     top: 1px;
     height: 15px;
     width: 15px;
     border: 0;
     border-radius: 200px;
     cursor: pointer;     
     margin-right: 5px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 9px/1 'Open Sans', sans-serif;
     left: 5px;
     top: 3px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #d7d1c9;
}
.form-radio:checked
{
     background-color: #ef7b7b;
}

.spacing {
    padding-top: 10px;
}

.metricSpacing {
    padding-left: 10px
}