# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

my_fix/package-lock.json
my_fix/public/
my_fix/package.json
my_fix/src/App.css
my_fix/src/App.test.js
my_fix/src/index.css
my_fix/src/logo.svg
my_fix/src/serviceWorker.js
my_fix/public/favicon.ico
my_fix/src/serviceWorker.js
my_fix/server
my_fix/server/emails/foodBlocks.js
my_fix/server/index.js