.bmr-top-div {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 65px;
    padding-right: 45px;
}

.bmi {
    padding-left: 125px;
}

.sit {
    position: absolute;
    top: 34px;
    left: 70px;
}

.run {
    position: absolute;
    left: 411px;
    top: 33px;
}

.stand {
    position: absolute;
    top: 34px;
    right: 255px;
}

.tee-container {
    padding-top: 50px;
    padding-right: 5px;
}

.tee {
    padding-left: 115px;
}
