#spacingWeight {
    height: 90px;
}

#spacingHeight {
    height: 90px;
}

#spacingInches {
    padding-left: 5px;
}

#spacingAge {
    padding-top: 10px;
    margin-bottom: 15px;
    height: 90px;
}