.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #e5dfdf;
     color: white;
     top: 1px;
     height: 15px;
     width: 15px;
     border: 0;
     border-radius: 200px;
     cursor: pointer;     
     margin-right: 3px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 9px/1 'Open Sans', sans-serif;
     left: 4.5px;
     top: 3px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #ef7b7b;
}
.form-radio:checked
{
     background-color: #c70d3a;
}

.femaleSpacing {
    padding-left: 9px;
}