.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    margin-top: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.zone-info-container {
    display: flex;
    justify-content: center;
    padding-left: 25px;    
}

.zone-header-container {
    text-align: center;
    padding-top: 100px;
    width: 600px;
}

.zone-info-title {
    font-weight: 900;
    color: #3c4245;
}

.zone-info-tag {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    font-family: 'Cambay', sans-serif;
    color: #c70d3a;
}

.zone-info-explainer {
    font-size: 21px;
    color: #272121
}

.red-and-green-zone-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.red-zone {
    width: 350px;
    height: 175px;
    background-color: #f0134d;
    border: #f0134d 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
}

/* can be refactored */
.red-and-green-zone-text-container {
    margin-left: 200px;
    width: 350px;
}

.zone-text {
    padding-top: 12px;
    font-size: 20px;
    color: #272121
}

.red-zone-header {
    font-family: 'Cambay', sans-serif;
    font-size: 31px;
    margin-top: -10px;
    color: #3c4245;
    border-bottom: #f0134d 2px  solid;
    width: 140px;
}

/* Yellow Zone */

.yellow-and-double-red-zone-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
}

.yellow-and-double-red-zone-text-container {
    margin-right: 200px;
    width: 350px;
}

.double-red-container {
    margin-right: 150px;
    width: 350px;
}

.yellow-zone {
    width: 350px;
    height: 175px;
    background-color: #ffdc34;
    color: #3c4245;
    border: #ffdc34 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
}

.yellow-zone-header {
    font-family: 'Cambay', sans-serif;
    font-size: 31px;
    color: #3c4245;
    margin-top: -10px;
    border-bottom: #ffdc34 2px  solid;
    width: 185px;
}

/* #15cda8 */

.green-zone {
    width: 350px;
    height: 175px;
    background-color: #15cda8;
    border: #15cda8 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
}

.green-zone-header {
    font-family: 'Cambay', sans-serif;
    font-size: 31px;
    margin-top: -10px;
    color: #3c4245;
    border-bottom: #15cda8 2px  solid;
    width: 180px;
}

.double-red-zone-header {
    font-family: 'Cambay', sans-serif;
    font-size: 31px;
    margin-top: -10px;
    color: #3c4245;
    border-bottom: #940a37 2px  solid;
    width: 255px;
}

.double-red-zone {
    width: 350px;
    height: 175px;
    background-color: #940a37;
    border: #940a37 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
}

a {
    text-decoration: none;
    color: #c70d3a;
}

@media only screen and (max-width: 1028px) {
    .red-zone {
        height: 125px;
        width: 275px;
    }

    .yellow-zone {
        height: 125px;
        width: 275px;
    }

    .green-zone {
        height: 125px;
        width: 275px;
    }

    .double-red-zone {
        height: 125px;
        width: 275px;
    }

    .yellow-and-double-red-zone-container {
        margin-top: 100px;
    }

    .red-and-green-zone-container {
        margin-top: 100px;
    }

    .double-red-container {
        margin-right: 175px;
    }
}

@media only screen and (max-width: 922px) {
    .red-zone {
        height: 125px;
        width: 325px;
    }

    .yellow-zone {
        height: 125px;
        width: 325px;
    }

    .yellow-and-double-red-zone-container {
        margin-top: 100px;
    }

    .red-and-green-zone-container {
        margin-top: 100px;
    }

    .green-zone {
        height: 125px;
        width: 325px;
    }

    .double-red-zone {
        height: 125px;
        width: 325px;
    }
}

@media only screen and (max-width: 922px) {
    .red-zone {
        height: 125px;
    }

    .yellow-zone {
        height: 125px;
    }

    .green-zone {
        height: 125px;
    }

    .double-red-zone {
        height: 125px;
        width: 350px;
    }

    .yellow-and-double-red-zone-text-container {
        margin-right: 110px;
    }

    .red-and-green-zone-text-container {
        margin-left: 100px;
    }

    .double-red-container {
        width: 250px;
        margin-right: 110px;
    }
}

@media only screen and (max-width: 890px) {
    .zone-info-tag {
        font-size: 30px;
    }

    .double-red-container {
        width: 300px;
        margin-right: 130px;
    }
}

@media only screen and (max-width: 847px) {
    .zone-info-tag {
        font-size: 25px;
    }

    .zone-info-explainer {
        font-size: 19px;
    }

    .red-zone-header {
        font-size: 27px;
    }

    .yellow-zone-header {
        font-size: 27px;
    }

    .green-zone-header {
        font-size: 27px;
    }

    .double-red-zone-header {
        font-size: 27px;
    }

    .zone-text {
        font-size: 18px;
    }

    .yellow-and-double-red-zone-container {
        margin-top: 100px;
    }

    .red-and-green-zone-container {
        margin-top: 100px;
    }

    .yellow-and-double-red-zone-text-container {
        margin-right: 110px;
    }

    .red-and-green-zone-text-container {
        margin-left: 100px;
    }

    .double-red-container {
        width: 250px;
        margin-right: 100px;
    }
}
