.topDiv {
    padding-top: 40px;
    width: 92%;
    max-width: 1250px;
    height: auto;
}

.topChildDivStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    height: 400px;
}

.div1Style {
    height: 100px;
}

.div2Style {
    padding-top: 5;
}

.div3Style {
    position: relative;
    bottom: 40px;
}

.div4Style {
    background-color: rgba(250, 84, 119, 0.3);
    height: 35%;
    width: 97%;
    border-radius: 3;
}

.h2Style {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.10px;
    border-style: solid;
    border-top-color: black;
    width: 100%;
    padding-bottom: 5px;
}

.p1Style {
    max-width: 43vw;
    padding-top: 5;
    float: left;
}

.p3Style {
    max-width: 45vw;
}

.aStyle {
    text-decoration: none;
    color: #c93838;
}

.warningStyle {
    max-width: 45vw;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 8px;
}

.interpretStyle {
    width: 45%;
}

.ulStyle {
    padding-left: 25;
    list-style-type: square;
    padding-top: 5;
}

.liStyle {
    padding-top: 3
}

@media only screen and (max-width: 1323px) {
    .topChildDivStyle {
        row-gap: 10px;
        height: 500px;
    }
}

@media only screen and (max-width: 1099px) {
    .topChildDivStyle {
        row-gap: 10px;
        height: 550px;
    }
}

@media only screen and (max-width: 926px) {
    .topChildDivStyle {
        row-gap: 10px;
        height: 600px;
    }
}

@media only screen and (max-width: 868px) {
    .topChildDivStyle {
        row-gap: 10px;
        height: 700px;
    }
}