.main-container {
    width: 100%;
    height: 1900px;
    background-color: #f9f9f9;
    padding-left: 70px;
    padding-right: 70px;
}

.zone-info-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.zone-header-container {
    text-align: center;
    padding-top: 100px;
    width: 600px;
}

.zone-info-title {
    font-weight: 900;
    color: #3c4245;
}

.zone-info-tag {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    font-family: 'Cambay', sans-serif;
    color: #c70d3a;
}

.zone-info-explainer {
    font-size: 21px;
    color: #272121
}

.red-zone-container {
    margin-top: 150px;
    margin-left: 75px;
    width: 375px;
    height: 175px;
    background-color: #f0134d;
    border: #f0134d 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
}

.yellow-zone-container {
    margin-top: 175px;
    margin-right: 75px;
    float: right;
    width: 375px;
    height: 175px;
    border: #f4ff61 5px solid;
    border-radius: 6px;
    background-color: #f4ff61;
    filter: drop-shadow(0px 0px 6px #dedede);
}

.green-zone-container {
    margin-top: 500px;
    margin-left: 75px;
    width: 375px;
    height: 175px;
    border: #15cda8 5px solid;
    border-radius: 6px;
    background-color: #15cda8;
    filter: drop-shadow(0px 0px 6px gray);
}

.double-red-zone-container {
    margin-top: 175px;
    margin-right: 75px;
    width: 375px;
    height: 175px;
    float: right;
    border: #df0054 5px solid;
    border-radius: 6px;
    background-color: #df0054;
    filter: drop-shadow(0px 0px 6px gray);
}