.parentDiv {
    display: flex;
    flex-direction: row;
    height: 100%;
    left: 55%;
    width: 100%;
    margin-bottom: 75px;
}

.yellowHigh {
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: -10px;
    font-size: 17px;
}

.red {
    width: 250px;
    height: 125px;
    margin-left: 50px;
    background-color: #f0134d;
    border: #f0134d 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    padding-bottom: 10px;
}

.yellow {
    width: 240px;
    height: 120px;
    margin-left: 230px;
    background-color: #ffdc34;
    border: #ffdc34 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

.green {
    width: 230px;
    height: 115px;
    margin-left: 50px;
    background-color: #15cda8;
    border: #15cda8 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

.doubleRed {
    width: 220px;
    height: 110px;
    margin-left: 230px;
    background-color: #940a37;
    border: #940a37 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

/* zone numbers */

.allZones {
    padding-left: 5px;
    font-weight: bold;
}

/* help positioning */

.yellowHelp {
    top: 160px;
    right: -70px;
}

.greenHelp {
    top: 184px;
    right: -70px;
}

.doubleRedHelp {
    top: 182;
    right: -70;
}