.parentDiv {
    display: flex;
    flex-direction: row;
    height: 800px;
    left: 55%;
    width: 100%;
    margin-bottom: 75px;
}

.info {
    text-align: center;
    color: #faf9f9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px
}

.red {
    width: 375px;
    height: 175px;
    background-color: #f0134d;
    border: #f0134d 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    padding-bottom: 10px;
}

.yellow {
    width: 375px;
    height: 175px;
    margin-left: 100px;
    background-color: #ffdc34;
    border: #ffdc34 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

.green {
    width: 375px;
    height: 175px;
    background-color: #15cda8;
    border: #15cda8 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

.doubleRed {
    width: 375px;
    height: 175px;
    margin-left: 100px;
    background-color: #940a37;
    border: #940a37 5px solid;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 6px gray);
    margin-top: 30px;
}

/* zone numbers */

.allZones {
    padding-left: 5px;
    font-weight: bold;
}

.yellowHigh {
    padding-top: 88px;
    padding-left: 20px;
    height: 39px;
}

.greenHigh {
    padding-top: 196px;
    padding-left: 20px;
    height: 39px;
}

.redHigh {
    padding-top: 197px;
    padding-left: 20px;
    height: 39px;
}

/* help positioning */

.yellowHelp {
    top: 160px;
    right: -70px;
}

.greenHelp {
    top: 184px;
    right: -70px;
}

.doubleRedHelp {
    top: 182;
    right: -70;
}